RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^index$ index.php [NC,L]
RewriteRule ^pages/new$ pages/new.php [NC,L]
RewriteRule ^pages/newType$ pages/newType.php [NC,L]
RewriteRule ^pages/infrastructure_types$ pages/infrastructure_types.php [NC,L]
RewriteRule ^pages/manage$ pages/manage.php [NC,L]
RewriteRule ^pages/pickup$ pages/pickup.php [NC,L]
RewriteRule ^pages/cases$ pages/cases.php [NC,L]
RewriteRule ^pages/infrastructure/([0-9_-]*)$  pages/infrastructure.php?id=$1 [NC,L]
RewriteRule ^logout$ logout.php [NC,L]
RewriteRule ^session$ session.php [NC,L]
RewriteRule ^delete$ delete.php [NC,L]