@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #00c462;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  position: fixed;
  width: 85%;
  right: 0;
  background: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 4px 6px 0px #f1f1f1;
          box-shadow: 1px 4px 6px 0px #f1f1f1;
}

header nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .navigation img {
  width: 24px;
  height: 24px;
  margin: 0 0.5em;
}

header nav .search input {
  outline: none;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  background: #fdfdfd;
  padding: 0.5em 1em;
}

header nav .currentpage p span a {
  color: #bebebe;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu .menuitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1em;
}

header nav .menu .menuitem a {
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
}

header nav .menu .menuitem a:hover {
  color: #c70053;
}

header nav .menu .menuitem img {
  width: 24px;
  height: 24px;
}

header nav .useraccount {
  background: #f8f7ff;
  padding: 6px 45px;
  border: none;
  color: #666;
  border-radius: 8px;
}

header nav .useraccount:hover {
  background-color: #002066;
  color: #fff;
}

.saveinfrastructure {
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}

.saveinfrastructure .labeltext {
  color: #30805e;
}

.saveinfrastructure input,
.saveinfrastructure select,
.saveinfrastructure textarea {
  display: block;
  width: 100%;
  color: #000000 !important;
  background: #ebebeb !important;
  border: none;
  border: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 20px;
  margin: 5px 0;
  margin-bottom: 1.5em;
}

.saveinfrastructure .custom-select {
  position: relative;
  font-family: Arial;
}

.saveinfrastructure .custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.saveinfrastructure .select-selected {
  background-color: DodgerBlue;
}

.saveinfrastructure .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.saveinfrastructure .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.saveinfrastructure .select-items div,
.saveinfrastructure .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.saveinfrastructure .select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.saveinfrastructure .select-hide {
  display: none;
}

.saveinfrastructure .select-items div:hover,
.saveinfrastructure .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.saveinfrastructure .inputsubmit {
  padding: 18px 74px;
  /* width: 100%; */
  background: #02a676;
  border: 1px solid #02a676;
  color: white;
  outline: none;
  margin-top: 1em;
  font-size: 20px;
  float: right;
}

.saveinfrastructure .inputcancel {
  padding: 18px 74px;
  /* width: 100%; */
  background: #d8fff3;
  border: 1px solid #d8fff3;
  color: #02a676;
  outline: none;
  font-size: 20px;
  float: right;
  margin: 1em;
}

/* Google Font Import - Poppins */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #035419;
  --primary-color: #518866;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #c9ddc9;
  --mainpanelcolor: #096826;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
}

::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  -webkit-transition: var(--tran-03);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* =========================== */
.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar header .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  -webkit-transition: var(--tran-03);
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--sidebar-color);
  -webkit-transition: var(--tran-04);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
  overflow: hidden;
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

.mainpanel {
  height: 100%;
  padding: 0 1em;
  background: var(--mainpanelcolor);
  overflow-y: auto;
}

.mainpanel .createnew {
  padding: 1em;
}

.mainpanel .createnew a {
  padding: 10px 15px;
  background: #00993d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.mainpanel .sectionheading h3 {
  font-size: 19px;
  color: #fbff00;
  font-weight: bold;
  text-transform: uppercase;
}

.mainpanel .sectionheading h6 {
  color: #83ff98;
  font-size: 15px;
  padding-bottom: 1em;
}

.mainpanel .sectionheading h5 {
  padding: 10px 15px;
  background: yellow;
  margin: 1em 0;
}

.mainpanel .small_sectionheading {
  padding: 0 1em;
  margin-top: 2em;
}

.mainpanel .small_sectionheading h3 {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.mainpanel .small_sectionheading h6 {
  color: #bebebe;
  font-size: 12px;
  padding-bottom: 1em;
}

.mainpanel .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 1em;
  margin-top: 1em;
  margin-bottom: 4em;
}

.mainpanel .statistics .card {
  padding: 2em 2.5em;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.mainpanel .statistics .card .stats {
  margin-left: 1em;
  color: #181818;
}

.mainpanel .statistics .card .stats .number {
  font-size: 25px;
}

.mainpanel .statistics .card .stats .label {
  color: #3f3f3f;
  font-weight: bold;
}

.mainpanel .statistics .card .illustration img {
  width: 43px;
  height: 43px;
}

.mainpanel .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainpanel .elements .activities {
  width: 100%;
  background: var(--mainpanelcolor);
  padding: 2em;
}

.mainpanel .elements .activities .btncreatenew {
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  background-color: #028f2c;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  vertical-align: middle;
  padding: 3px 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
}

.mainpanel .elements .activities .btncreatenew:hover {
  background-color: #f1fb00;
  color: #000;
}

.mainpanel .elements .activities .typescontainer {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainpanel .elements .activities .childrencontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 1rem;
  margin-top: 1em;
}

.mainpanel .elements .activities .childrencontainer .product-card {
  background: #dbffd6;
  padding: 1.5em;
  display: -ms-grid;
  display: grid;
  margin-right: 2em;
  margin-bottom: 2em;
  font-size: 15px;
  border-radius: 10px;
}

.mainpanel .elements .activities .childrencontainer .product-card .imagecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainpanel .elements .activities .childrencontainer .product-card .imagecontainer img {
  width: 92px;
  height: 92px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 1em;
}

.mainpanel .elements .activities .childrencontainer .product-card .imagecontainer .casetitle {
  font-size: 14px;
}

.mainpanel .elements .activities .childrencontainer .product-card .imagecontainer .case_info {
  font-size: 14px;
}

.mainpanel .elements .activities .childrencontainer .product-card .casedescription {
  margin: 1em 0;
}

.mainpanel .elements .activities .childrencontainer .product-card .casedescription .categoryid {
  margin-right: 1em;
  color: black;
}

.mainpanel .elements .activities .childrencontainer .product-card .casedescription .case_location {
  color: #009688;
}

.mainpanel .elements .activities .childrencontainer .product-card .casedescription h1 {
  font-size: 15px;
  color: #3cd374;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainpanel .elements .activities .childrencontainer .product-card .casedescription p {
  font-size: 15px;
  color: #707087;
  text-overflow: ellipsis;
  margin-top: 0.5em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mainpanel .elements .activities .childrencontainer .product-card .product-card__actions {
  width: 122px;
}

.mainpanel .elements .activities .childrencontainer .product-card .artistlable {
  color: gray;
  margin-top: 0.1em;
}

.mainpanel .elements .activities .childrencontainer .product-card .ordervalue {
  color: black;
  margin: 0 0.3em;
}

.mainpanel .elements .activities .childrencontainer .product-card .addresslayout {
  margin: 0.5em 0;
}

.mainpanel .elements .activities .childrencontainer .product-card .ordertagstatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainpanel .elements .activities .childrencontainer .product-card .childimage {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainpanel .elements .activities .childrencontainer .product-card h4 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-wrap: break-word;
}

.mainpanel .elements .activities .childrencontainer .product-card p {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-wrap: break-word;
}

.mainpanel .elements .activities .childrencontainer .product-card .linkss {
  padding-top: 10px;
  margin-bottom: 0 !important;
}

.mainpanel .elements .activities .childrencontainer .product-card .linkss a {
  background: #000000 !important;
  border: 1px solid #000000 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: white;
}

.mainpanel .elements .activities .childrencontainer .product-card .linkss a:hover {
  background: #0eb62a !important;
  border: 1px solid #0eb62a !important;
}

.mainpanel .elements .activities .childrencontainer .product-card .sponsorbutton {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #e5e5e5 !important;
  margin-top: 1.2em !important;
  background: #3cd374 !important;
  color: #fff !important;
  border: 1px solid #3cd374 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  padding: 9px;
}

.mainpanel .elements .activities .childrencontainer .product-card .sponsorbutton:hover {
  background: #e8cc15 !important;
  color: #000 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #e8cc15 !important;
}

.mainpanel .elements .activities .case_container .product-card {
  background: #f9f9f9;
  padding: 1.5em;
  display: -ms-grid;
  display: grid;
  margin-right: 2em;
  margin-bottom: 2em;
  font-size: 15px;
  border-radius: 10px;
}

.mainpanel .elements .activities .case_container .product-card .case_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainpanel .elements .activities .case_container .product-card .case_style .case_image {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainpanel .elements .activities .case_container .product-card .case_style .description {
  margin-left: 1em;
}

.mainpanel .elements .activities .case_container .product-card .imagecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainpanel .elements .activities .case_container .product-card .imagecontainer img {
  width: 92px;
  height: 92px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 1em;
}

.mainpanel .elements .activities .case_container .product-card .imagecontainer .casetitle {
  font-size: 14px;
}

.mainpanel .elements .activities .case_container .product-card .imagecontainer .case_info {
  font-size: 14px;
}

.mainpanel .elements .activities .case_container .product-card .casedescription {
  margin: 1em 0;
}

.mainpanel .elements .activities .case_container .product-card .casedescription .categoryid {
  margin-right: 1em;
  color: black;
}

.mainpanel .elements .activities .case_container .product-card .casedescription .case_location {
  color: #009688;
}

.mainpanel .elements .activities .case_container .product-card .casedescription h1 {
  font-size: 15px;
  color: #3cd374;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainpanel .elements .activities .case_container .product-card .casedescription p {
  font-size: 15px;
  color: #707087;
  text-overflow: ellipsis;
  margin-top: 0.5em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mainpanel .elements .activities .case_container .product-card .product-card__actions {
  width: 122px;
}

.mainpanel .elements .activities .case_container .product-card .artistlable {
  color: gray;
  margin-top: 0.1em;
}

.mainpanel .elements .activities .case_container .product-card .ordervalue {
  color: black;
  margin: 0 0.3em;
}

.mainpanel .elements .activities .case_container .product-card .addresslayout {
  margin: 0.5em 0;
}

.mainpanel .elements .activities .case_container .product-card .ordertagstatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainpanel .elements .activities .case_container .product-card .childimage {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainpanel .elements .activities .case_container .product-card h4 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-wrap: break-word;
}

.mainpanel .elements .activities .case_container .product-card p {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-wrap: break-word;
}

.mainpanel .elements .activities .case_container .product-card .linkss {
  padding-top: 10px;
  margin-bottom: 0 !important;
}

.mainpanel .elements .activities .case_container .product-card .linkss a {
  background: #000000 !important;
  border: 1px solid #000000 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: white;
}

.mainpanel .elements .activities .case_container .product-card .linkss a:hover {
  background: #0eb62a !important;
  border: 1px solid #0eb62a !important;
}

.mainpanel .elements .activities .case_container .product-card .sponsorbutton {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #e5e5e5 !important;
  margin-top: 1.2em !important;
  background: #3cd374 !important;
  color: #fff !important;
  border: 1px solid #3cd374 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  padding: 9px;
}

.mainpanel .elements .activities .case_container .product-card .sponsorbutton:hover {
  background: #e8cc15 !important;
  color: #000 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #e8cc15 !important;
}

.mainpanel .elements .activities .menuitemscontatiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard {
  background: #fff;
  display: -ms-grid;
  display: grid;
  font-size: 15px;
  border-radius: 10px;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail {
  padding: 1em;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail .menuitemactionbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 1em;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail .menuitemactionbutton a {
  padding: 5px 18px;
  background: #fff !important;
  color: black;
  border: 1px solid #000 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 5px;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail .menuitemactionbutton a:hover {
  background: #c50f0f !important;
  color: white;
  border: 1px solid #c50f0f !important;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail .menuitemactionbutton .menuitem-card__actions a {
  background: #000000 !important;
  border: 1px solid #000 !important;
  color: white;
  margin-left: 1em;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail .menuitemactionbutton .menuitem-card__actions a:hover {
  background: #2dc50f !important;
  color: white;
  border: 1px solid #2dc50f !important;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail h1 {
  font-size: 17px;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail .description {
  margin-bottom: 1em;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail span {
  color: #3f3f3f;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail .category {
  margin-bottom: 1em;
}

.mainpanel .elements .activities .menuitemscontatiner .MenuItemCard .menuitemcarddetail .date {
  display: -ms-inline-grid;
  display: inline-grid;
  font-size: 12px;
  margin-right: 1em;
  color: #3f3f3f;
}

.mainpanel .elements .activities .cartitemcontainer .cartItem {
  padding: 2em 4em;
}

.mainpanel .elements .activities .cartitemcontainer .cartItem img {
  width: 225px;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.mainpanel .elements .activities .cartitemcontainer .cartItem .cartItemdetail .menutitle {
  font-weight: 700;
  padding: 1em 0;
}

.mainpanel .elements .activities .cartitemcontainer .cartItem .cartItemdetail .menu_desc {
  line-height: 1.4em;
}

.mainpanel .orderfilter {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainpanel .orderfilter .circle {
  background: #00c462;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
}

.mainpanel .orderfilter .circlenotactive {
  background: #fafafa;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #7c7c7c;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
}

.mainpanel .orderfilter .noti {
  margin-left: 10px;
}

.mainpanel .orderfilter .filterorder {
  background: #f2f2f2;
  padding: 10px 25px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.mainpanel .orderfilter .filterorder:hover {
  background: #00c462 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  color: #fff;
}

.mainpanel .orderfilter .filter_active {
  background: #00c462 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  color: #fff;
}

.orderheading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.orderheading .ordertimediv {
  border-left: 1px solid #bebebe;
  margin-right: 1em;
  padding: 0 1em;
}

.orderheading .ordertimediv h6 {
  color: #bebebe;
  font-size: 14px;
}

.cartdetailbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}

.cartdetailbutton button {
  padding: 13px 27px;
  outline: none;
  border-radius: 5px;
}

.cartdetailbutton .approvebutton {
  background: #00c462;
  color: white;
  border: none;
  margin-left: 1em;
}

.cartdetailbutton .approvebutton:hover {
  background: #00a92a !important;
  color: #fff !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #00a92a;
}

.cartdetailbutton .cancelbutton {
  background: #fff;
  color: black;
  border: 1px solid black;
}

.cartdetailbutton .cancelbutton:hover {
  background: #d60e00 !important;
  color: white !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #d60e00;
}

.sponsorshipform {
  background: #fff;
  padding: 2em 1em;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.linkss a {
  background: #4caf50 !important;
  border: 1px solid #4caf50 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn.btn-primary {
  width: 100% !important;
}

.sponserdiv {
  position: fixed;
  background: #00000099;
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 85%;
  height: 100%;
  top: 0;
  display: none;
  margin: 0 -1em !important;
}

.sponsorchildnowbtn {
  background: #00c462;
  border: none;
  padding: 10px 20px;
  width: 100%;
  color: white;
  border-radius: 5px;
}

.approveorderform {
  margin-bottom: 1em;
  text-align: center;
  width: 300px;
}

.approveorderform h1 {
  font-size: 18px;
}

.approveorderform p {
  font-size: 15px;
  color: #8a8a8a;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.deleteorder {
  margin-bottom: 1em;
  text-align: center;
  width: 300px;
}

.deleteorder h1 {
  font-size: 18px;
}

.deleteorder p {
  font-size: 15px;
  color: #e40000;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.alert-success {
  border: 1px solid #2ced2c;
  padding: 10px;
  border-radius: 6px;
  color: #00bd00;
  text-align: center;
  margin-bottom: 1em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.alert-error {
  border: 1px solid #ed2c2c;
  padding: 10px;
  border-radius: 6px;
  color: #bd0000;
  text-align: center;
  margin-bottom: 1em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.form-control {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid #cbcbcb;
  color: black;
}

.cancelbutton {
  padding: 5px 18px;
  background: #fff !important;
  color: black;
  border: 1px solid #00c462 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 5px;
  margin-right: 1em;
}

.cancelbutton:hover {
  background: #eb2424 !important;
  color: white;
  border: 1px solid #eb2424 !important;
}

.approvebutton {
  padding: 5px 18px;
  background: #11b93a !important;
  color: white;
  border: 1px solid #00c462 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 5px;
}

.approvebutton:hover {
  background: #0ab419 !important;
  color: white;
  border: 1px solid #0ab419 !important;
}

.sponsorchildnowbtn:hover {
  background: #027c3a;
}

.sponsorbutton {
  background: white !important;
  color: black !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #e5e5e5 !important;
}

.form-group {
  margin-top: 0.5rem;
}

.active {
  border: 1px solid #c3a902;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white !important;
}

#error {
  color: red;
  padding: 10px 0;
  font-size: 15px;
}

.smalltag {
  background: #86ffa0 !important;
  padding: 0.1em 1em !important;
  color: #00c462 !important;
  font-size: 12px !important;
}

.buttonload {
  background-color: #04aa6d;
  /* Green background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 12px 16px;
  /* Some padding */
  font-size: 16px;
}

.buttonload .fa {
  margin-left: -12px;
  margin-right: 8px;
  display: none;
}

.loaderdiv {
  position: fixed;
  background: #5188663b;
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 85%;
  height: 100%;
  top: 0;
  display: none;
  z-index: 1000;
  margin: 0 -1em !important;
}

.loader-container {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */